/* Обнуление */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@font-face {
    font-family: Press;
    font-display: swap;
    src: url('../fonts/Press.woff2') format("woff2"),url('../fonts/Press.woff2') format("woff");
    font-weight: 400;
    font-style: normal
}
body,html {
    height: 100%;
    min-width: 320px
}
body {
    color: #ff63d8;
    line-height: 1;
    font-family: Press;
    font-size: 18px;
    caret-color: transparent;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000; 
}

.wrapper{
    width: 100%;
    height: 100%;
}

/* nav */

.nav {
    width: 100%;
    height: 100px;
    background-color: transparent;
    position: fixed;
    z-index: 999;
    transition: all .3s ease-in;
}
.nav.fixed{
    background-color: #000;
    border-bottom: 2px solid #ff63d8;
}
.nav.hidden{
    transform: translate(0, -150px);
}
.nav.show{
    transform: translate(0, 0);
}
.nav__container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-height: 100px;

}
.nav__left {
}
.nav__left img{
    max-height: 200px;
    cursor: pointer;
    transition: filter .2s linear;
    transform: translate(-80px, 0);
}
.nav__left img:hover{
    filter: drop-shadow(0 0 5px #fff);
}
.nav__right{
    padding-right: 100px;
}
.nav__right img{
    max-height: 30px;
    margin-left: 5px;
}
.container{
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* page1 */

.page1 {
    min-height: 1080px;
}
.page1__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.page1__top {
}
.page1__img {
    max-height: 370px;
}
.page1__logoText {
    margin-top: -20px;
    text-transform: uppercase;
    cursor: default;
}
.page1__bottom {
    margin-top: 20px;
    position: relative;
}
.page1__titleText {
    font-size: 130px;
    text-transform: uppercase;
    max-width: 650px;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    cursor: default;
}
.page1__titleText--double{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 130px;
    max-width: 650px;
    text-transform: uppercase;
    line-height: 1.5;
    color: #21EF80;
}
.page1__bottom::before{
    content: url('../img/1page/gif-money.gif');
    position: absolute;
    top: -240px;
    left: -800px;
    transform: scale(.25);
}
.page1__bottom::after{
    content: url('../img/1page/gif-money.gif');
    position: absolute;
    top: -240px;
    left: 280px;
    transform: scale(.25);
}

/* page2 */

.page2{
    background: url('../img/2page/bg2.png') 0 0/cover no-repeat;
    overflow: hidden;
    padding-top: 50px;
}
.page2__text {
    background-color: #000;
    max-width: 610px;
    height: 750px;
    color: #fff;
    border-radius: 50px;
    border: 4px solid #21EF80;
    padding: 20px 10px 30px 20px;
    line-height: 1.3;
    text-transform: uppercase;
    font-size: 24px;
}
.page2__text__wrapper{
    overflow-y: scroll;
    max-height: 620px;
}
.page2__text__wrapper::-webkit-scrollbar {
    width: 8px;
    border-radius: 50%;
}

.page2__text__wrapper::-webkit-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 8px;
}

.page2__text__wrapper::-webkit-scrollbar-thumb {
    background-color: #ff63d8;
    border-radius: 8px;
}
.page2__text1 {
    text-align: center;
    margin: 0 0 20px;
}
.page2__text2 {
    margin-bottom: 10px;
}
.flex__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 1920px;
}
.page2__content {
    height: 850px;
    position: relative;
}

.page2__tablo{
    overflow: hidden;
    max-height: 850px;
    position: absolute;
    top: 0;
    right: 200px;
    width: 1100px;
    height: 1000px;
}
.page2__tablo img{
    max-width: 1100px;
    transform: translate(0, -100px);
    position: inherit;
}
.page2__arrows { }
.page2__start{
    position: absolute;
    top: 320px;
    left: 500px;
    z-index: 10;
    transition: filter .2s linear;
    cursor: pointer;
}
.page2__start:hover{
    filter: invert(1);
}
.arrow {
    position: absolute;
    top: 430px;
    left: -1250px;
    z-index: 3;
    width: 162px;
    height: 131px;
    background: url('../img/2page/arrow1.png') no-repeat;
    animation: page2Arrow 2s ease-in-out infinite;

}


@keyframes page2Arrow{
    0%{
        background: url('../img/2page/arrow1.png') no-repeat;
        transform: translate(0px, 0px);
    }
    50%{
        background: url('../img/2page/arrow2.png') no-repeat;
        transform: translate(100px, -30px);
    }
    100%{
        background: url('../img/2page/arrow1.png') no-repeat;
        transform: translate(0px, 0px);
    }
}
/* Page3 */

.page3 {
    min-height: 1080px;
    position: relative;
    padding-top: 40px;
}
.menu__button {
    text-align: center;
    margin: 0px auto 40px;
}
.button__gif{
    height: 140px;
    mix-blend-mode: screen;
}
.menu__title {
    width: 100%;
    font-size: 40px;
    height: 180px;
    border-radius: 50px;
    border: 3px solid #ff63d8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap;
    transition: filter .2s linear, background-color .2s linear;
    background-color: #000;
    cursor: pointer;
}
.menu__title:hover{
    filter: drop-shadow(0 0 5px #fff);
    background-color: #222;
}

.menu__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    margin: 115px auto 0;
    row-gap: 125px;
    gap: 175px;
}
.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    width: 100%;
    height: 150px;
    border-radius: 50px;
    border: 3px solid #ff63d8;
    text-transform: uppercase;
    color: #ff63d8;
    line-height: 1.5;
    background-color: #000;
    transition: filter .2s linear, background-color .2s linear;
}
.menu__item:hover{
    filter: drop-shadow(0 0 5px #fff);
    background-color: #222;
}
.menu__item p{
    max-width: 300px;
    text-align: center;
}
.menu__item span{
    color: #21EF80;
}
p.span__gold {
    color: #F8D510;
}

/* Page 4 */

.page4{
    min-height: 1000px;
    padding-top: 40px;
}
.page4__title{
    width: 450px;
    height: 150px;
    border-radius: 50px;
    border: 3px solid #ff63d8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: default;
}
.slider__item {
    margin: 90px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.slider__img{
    transition: transform 1s linear;
    transform: scale(1.1);
}
.slider__item__image {
    width: 453px;
    height: 452px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 48px;
    z-index: 5;
    border-radius: 48px;
    border: 5px solid #21EF80;
}
.slider__item__image__link{
    height: 450px;
    z-index: 999;
}
.slider__item__image:hover .slider__img{
    transform: scale(1.2);
}
.slider__item__image--rocket{
    border-radius: 48px;
    border: 5px solid #21EF80;
}
.slider__img--rocket{
    transition: transform 1s linear;
}
.slider__item__image--rocket:hover .slider__img--rocket{
    transform: translate(-50%, -50%) scale(1.33);
}
.slider__img--rocket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.23);
    border-radius: 50px;
    border: 3px solid #21EF80;
    z-index: 0;
}
.slider__item__button {
    border-radius: 50px;
    border: 3px solid #ff63d8;
    max-width: 450px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 50px;
    transition: filter .2s linear, background-color .2s linear;
    cursor: pointer;
    background-color: #000;
    color: #ff63d8;
}
.slider__item__button:hover{
    filter: drop-shadow(0 0 5px #fff);
    background-color: #222;
}

/* Page 5 */

.page5 {
    min-height: 1080px;
    background: url('../img/5page/bg.png') 0 0/cover no-repeat;
    padding-top: 100px;
}
.page5__wrapper{
    position: relative;
    min-height: 1080px;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}
.page5__title {
    white-space: nowrap;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    position: relative;
    color: #21EF80;
    margin-bottom: 30px;
    z-index: 10;
}
.page5__title--double{
    position: relative;
    top: -34px;
    left: -3px;
    color: #ff63d8;
}
.page5__subtitle { 
    font-size: 90px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: #21EF80;
    z-index: 10;
}
.page5__subtitle--double{
    position: relative;
    color: #ff63d8;
    top: -182px;
    left: -3px;
}
.page5__subtitle img{
    transform: translate(0, -170px);
}
.page5__images{

}
.page5__border {
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.page5__shop{
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 11;
    cursor: pointer;
    transition: filter .2s linear;
}
.page5__shop:hover{
    filter: drop-shadow(0 0 10px #999);
}
.page5__grass1 {
    position: absolute;
    bottom: 120px;
    left: -30px;
    z-index: 1;
}
.page5__grass2 {
    position: absolute;
    bottom: 120px;
    left: 150px;
    z-index: 1;
}
.page5__grass3 {
    position: absolute;
    bottom: 120px;
    left: 300px;
    z-index: 1;
}
.page5__grass4 {
    position: absolute;
    bottom: 120px;
    right: -30px;
    z-index: 1;
}
.page5__grass5 {
    position: absolute;
    bottom: 120px;
    right: 120px;
    z-index: 1;
}
.page5__grass6 {
    position: absolute;
    bottom: 120px;
    right: 250px;
    z-index: 1;
}
.page5__fire{
    position: absolute;
    bottom: 120px;
    left: 65%;
    z-index: 1;
}
.page5__weapon1 {
    position: absolute;
    bottom: 350px;
    left: 50%;
    z-index: 1;
    transform: translate(350%, 0);
    animation: animateWeapons2 2s ease-in-out infinite;
}
.page5__weapon2 {
    position: absolute;
    bottom: 350px;
    left: 50%;
    z-index: 1;
    transform: translate(-400%, 0);
    animation: animateWeapons 2s ease-in-out infinite;
}
.page5__box1 {
    position: absolute;
    bottom: 600px;
    right: 5%;
    z-index: 1;
}
.page5__box2 {
    position: absolute;
    bottom: 400px;
    right: 10%;
    z-index: 1;
}
.page5__box3 {
    position: absolute;
    bottom: 600px;
    left: 5%;
    z-index: 1;
}
.page5__box4 {
    position: absolute;
    bottom: 400px;
    left: 10%;
    z-index: 1;
}
.page5__star1 {
    position: absolute;
    top: 250px;
    left: 20%;
    z-index: 1;
    animation: starsAnimate 2s ease-in-out infinite;
}
.page5__star2 {
    position: absolute;
    top: 250px;
    right: 20%;
    z-index: 1;
    animation: starsAnimate 2s ease-in-out infinite;
}
@keyframes starsAnimate{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, -50px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes animateWeapons{
    0%{
        transform: translate(-400%, 0);
    }
    50%{
        transform: translate(-400%, -50px);
    }
    100%{
        transform: translate(-400%, 0);
    }
}
@keyframes animateWeapons2{
    0%{
        transform: translate(350%, 0);
    }
    50%{
        transform: translate(350%, -50px);
    }
    100%{
        transform: translate(350%, 0);
    }
}

/* Page 6 */

.page6 {
    min-height: 1080px;
    overflow: hidden;
    background: url('../img/5page/bg.png') 0 0/cover no-repeat;
    padding-top: 100px;
}
.page6__wrapper{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    min-height: 1080px;
}
.page6__images {

}
.page6__border {
    position: absolute;
    bottom:0;
    z-index: 2;
}
.page6__shop {
    position: absolute;
    bottom: 120px;
    left: 80px;
    z-index: 1;
}
.page6__grass {
    position: absolute;
    bottom: 120px;
    right: -50px;
    z-index: 1;
}
.page6__fire {
    position: absolute;
    bottom: 120px;
    right: 350px;
    z-index: 1;
}
.page6__items {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 170px 170px 170px 170px;
    column-gap: 70px;
    row-gap: 30px;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 500px;
}
.page6__item {
    max-width: 450px;
    height: 170px;
    border-radius: 40px;
    border: 3px solid #ff63d8;
    color: #ff63d8;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    text-align: center;
}
.green__item { 
    border: 3px solid #21EF80;
    color: #21EF80;
}

/* Page 7 */

.page7 {
    min-height: 1080px;
    position: relative;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    padding-top: 50px;
}
.page7__title {
    margin-bottom: 90px;
}
.page7__image{
    position: absolute;
    top: 30%;
    left: -150px;
    transform: translate(0. -50%);
}
.page7__items {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    align-items: flex-end;
}
.page7__item {
    max-width: 1000px;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #ff63d8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #ff63d8;
    margin-bottom: 35px;
    background-color: #000;
    transition: filter .2s linear, background-color .2s linear;
}
.page7__item:hover{
    filter: drop-shadow(0 0 5px #fff);
    background-color: #222;
}

/* Page 8 */

.page8 {
    min-height: 900px;
    padding-top: 50px;
}
.page8__title {
    margin: 0 auto 100px;
}
.page8__memes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.page8__memes__wrapper{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 100px;
}
.page8__mem {
    margin-right: 130px;
}
.page8__mem:last-child{
    margin-right: 0;
}
.page8__mem__img {
    max-width: 330px;
}

/* Page 9 */

.page9{
    min-height: 1000px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}
.page9__title {
    margin: 0 auto 50px;
}
.page9__img{
    display: flex;
    justify-content: center;
}
.page9__img img{
    max-width: 200px;
}
.page9__wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    position: relative;
}
.page9_1{
    position: absolute;
    max-width: 900px;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
}
.page9_2{
    position: absolute;
    top: 5px;
    left: calc(50% + 5px);
    transform: translate(-50%, 0);
    max-width: 900px;
}
.page9__titleText {
    font-size: 6vw;
    max-width: 900px;
    line-height: 1.5;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    color: #ff63d8;
}
.page9__titleText--double{
    top: 25px;
    left: 305px;
    font-size: 6vw;
    max-width: 900px;
    line-height: 1.5;
    color: #21EF80;
    text-align: center;
    cursor: pointer;
}
.invisible{
    opacity: 0;
    visibility: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 60px 30px;
    border-radius: 24px;
    border: 3px solid #ff63d8;
    z-index: 1000;
    min-width: 270px;
    max-width: 600px;
    width: 100%;
    transition: opacity .2s linear, visibility .2s linear;
}
.form__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.form__title__text {
    font-size: 24px;
    text-transform: uppercase;
}
.close__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: relative;
}
.close__form:hover::before{
    transform: rotate(-225deg);
}
.close__form:hover::after{
    transform: rotate(-135deg);
}
.close__form::before{
    content: '';
    position: absolute;
    top: 0;
    left: 45%;
    transform: rotate(-45deg);
    width: 3px;
    height: 30px;
    background-color: #ff63d8;
    transition: transform .4s ease-in-out;
}
.close__form::after{
    content: '';
    position: absolute;
    top: 0;
    right: 45%;
    transform: rotate(45deg);
    width: 3px;
    height: 30px;
    background-color: #ff63d8;
    transition: transform .4s ease-in-out;
}
form::placeholder{
    color: #fefefe;
}
.form__input {
    font-size: 16px;
    color: #fff;
    width: 100%;
    padding: 8px;
    background-color: #333;
    border-radius: 8px;
    caret-color: #fff;
    min-height: 50px;
}
.form__button {
    background-color: #000;
    border-radius: 16px;
    border: 2px solid #ff63d8;
    padding: 20px 40px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ff63d8;
    transition: background-color .2s linear;
    width: 100%;
}
.form__button:hover{
    background-color: #222;
}
.status {
    font-size: 20px;
    text-align: center;
    color: #ff63d8;
}
/* Page 10 */
.page10 {
    min-height: 1080px;
    background: url('../img/5page/bg.png') 0 0/cover no-repeat;
}
.page10__wrapper{
    position: relative;
    min-height: 1080px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.page10__contacts {
    max-width: 900px;
    width: 100%;
    height: 500px;
    border-radius: 50px;
    border: 3px solid #21EF80;
    background-color: #000;
    position: relative;
    z-index: 20;
    margin-right: 150px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contacts__title {
    margin-bottom: 50px;
    font-size: 60px;
    color: #21EF80;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.contacts__title--double {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translate(-51%, 0);
    color: #ff63d8;
    z-index: 1;
}
.contacts__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts__text {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.contacts__email {
    margin-bottom: 25px;
    color: #21EF80;
    text-transform: uppercase;
    font-size: 22px;
}
.contacts__tel {
    color: #FDD507;
}
.contacts__telegram {
    color: #ff63d8;
}
.page10__images {
}
.page10__border {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
}
.page10__grass1 {
    position: absolute;
    bottom: 120px;
    z-index: 1;
    right: -30px;

}
.page10__grass2 {
    position: absolute;
    bottom: 120px;
    right: 150px;

}
.page10__car {
    position: absolute;
    bottom: 120px;
    left: 0;
    z-index: 5;
}
.page10__bus {
    position: absolute;
    bottom: 120px;
    left: 0;
    z-index: 2;

}
.page10__sit {
    position: absolute;
    bottom: 120px;
    left: 800px;
    z-index: 1;

}
.page10__sky {
    position: absolute;
    top: 300px;
    left: 640px;
    z-index: 0;
}
.page10__sky2 {
    position: absolute;
    top: 10px;
    right: 150px;
    z-index: 0;
}
.page10__vishka {
    position: absolute;
    bottom: 120px;
    left: -50px;
    z-index: 1;
}
.page10__heart {
    position: absolute;
    mix-blend-mode: screen;
    top: -25px;
    left: 150px;
    transform: scale(.3);
}

/* Adaptive */

@media(max-width: 1700px){
    .page1{
        min-height: 850px;
    }
    .page2{
        height: 730px;
        min-height: none;
    }
    .page2__text{
        height: 600px;
        max-width: 570px;
        font-size: 22px;
    }
    .page2__text__wrapper{
        max-height: 480px;
    }
    .page2__tablo{
        transform: scale(.8);
        max-height: none;
        right: 300px;
        top: -100px;
    }
    .arrow{
        top: 319px;
        left: -1312px;
    }
    .page7__item{
        max-width: 950px;
    }
    .page8__mem{
        margin-right: 50px;
    }
    .page8__memes__wrapper{
        margin-bottom: 50px;
    }
    .page10__contacts{
        margin-right: -20px;
        transform: scale(.8);
    }
}
@media(max-width: 1600px){
    .nav__left{
        margin-left: 50px;
    }
    .slider__item__image{
        transform: scale(.8);
    }
    .slider__item__button{
        margin-top: 30px;
        max-width: 370px;
    }
    .slider__container{
        max-width: 1400px;
        margin: 0 auto;
    }
    .itc-slider__btn_next{
        right: 20px;
    }
    .itc-slider__btn_prev{
        left: 20px;
    }
    .page10__car{
        bottom: 95px;
        transform: scale(.8);
    }
    .page10__bus{
        bottom: 60px;
        transform: scale(.8);
    }
    .page10__sit {
        bottom: 98px;
        left: 710px;
        transform: scale(.8);
    }
    .page10__vishka{
        bottom: -40px;
        transform: scale(.8);
    }
    .page10__heart {
        top: 180px;
        transform: scale(.2);
    }
    .page5__star1{
        left: 10%;
    }
    .page5__star2{
        right: 10%;
    }
    .page5__grass3, .page5__grass6{
        display: none;
    }
    .page5__weapon1{
        left: 40%;
    }
    .page5__weapon2{
        left: 55%;
    }
}
@media(max-width: 1500px){
    .slider__container{
        max-width: 1300px;
    }
    .page6__item {
        max-width: 400px;
        height: 150px
    }
    .menu__title{
        font-size: 30px;
        max-width: 1300px;
        margin: 0 auto;
    }
    .button__gif{
        transform: scale(.8);
    }
    .menu__item{
        max-width: 350px;
    }
    .menu__items{
        gap: 100px;
        justify-items: center;
        max-width: 1300px;
    }
    .page8__memes__wrapper{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .page8__mem{
        margin-bottom: 40px;
    }
    .page7__item{
        max-width: 850px;
    }
    .page10__contacts{
        transform: scale(.6);
        margin-right: -100px;
    }
    .page10__grass2, .page10__grass1{
        bottom: 105px;
        transform: scale(.8);
    }
    .page10__grass1{
        right: -70px;
    }
    .page10__grass2{
        right: 100px;
    }
    .page8__mem__last{
        margin-right: 0;
    }
}
@media(max-width: 1450px){
    .page2{
        height: 570px;
    }
    .page2__text{
        transform: scale(.8) translate(-50px, -70px);
    }
    .page2__tablo{
        right: 480px;
        top: -190px;
        transform: scale(.6);
    }
    .page2__arrows{
        transform: scale(.8);
    }
    .arrow {
        top: 279px;
        left: -1733px;
    }
    .page4{
        min-height: 700px;
        height: 800px;
    }
    .slider__container{
        max-width: 1200px;
    }
    .slider__item{
        transform: translate(0px, -100px);
    }
    .slider__item__image{
        transform: scale(.7);
    }
    .slider__item__button{
        max-width: 340px;
        font-size: 16px;
        height: 130px;
        margin-top: -10px;
    }
    .page6__items{
        column-gap: 20px;
    }
}
@media(max-width: 1400px){
    .page6__shop{
        transform: scale(.8);
        left: 0;
        bottom: 80px;
    }
    .page6__items{
        margin-left: 370px;
    }
    .page7__image{
        transform: scale(.7);
    }
    .page7__item{
        max-width: 800px;
    }
}
@media(max-width: 1350px){
    .page1{
        min-height: 770px;
    }
    .page1__titleText {
        font-size: 110px;
    }
    .page1__titleText--double{
        font-size: 110px;
    }
    .page1__bottom::before {
        left: -650px;
        transform: scale(.2);
    }
    .page1__bottom::after{
        transform: scale(.2);
        left: 150px;
    }
    .page3{
        min-height: 950px;
    }
    .menu__title{
        max-width: 1100px;
    }
    .menu__items{
        column-gap: 90px;
        max-width: 1100px;
    }
    .menu__item{
        height: 130px;
        font-size: 18px;
        max-width: 290px;
    }
    .slider__container{
        max-width: 900px;
    }
    .slider__item__image {
        transform: scale(.5);
    }
    .slider__item__button{
        max-width: 240px;
        height: 75px;
        font-size: 12px;
        margin-top: -70px;
    }
    .page7__image{
        left: -250px;
    }
    .page5__title{
        font-size: 24px;
    }
    .page5__title--double{
        top: -26px;
        left: -2px;
    }
    .page5__subtitle{
        font-size: 70px;
    }
    .page5__subtitle--double{
        top: -143px;
    }
    .page5__subtitle img {
        transform: translate(0, -110px);
    }
    .page5__star1{
        top: 100px;
        max-width: 40px;
    }
    .page5__star2{
        top: 100px;
        max-width: 40px;
    }
}
@media(max-width: 1300px){
    .page6{
        min-height: 800px;
    }
    .page6__wrapper{
        min-height: 800px;
    }
    .page6__items{
        grid-template-columns: 350px 350px;
        grid-template-rows: 125px 125px 125px 125px;
    }
    .page6__item {
        max-width: 350px;
        height: 120px;
        font-size: 16px;
    }
}
@media(max-width: 1200px){
    .page5__wrapper, .page5{
        min-height: 960px;
    }
    .page5__box1, .page5__box2, .page5__box3, .page5__box4, .page5__grass1, .page5__grass2, .page5__grass4, .page5__grass5, .page5__fire{
        transform: scale(.6);
    }
    .page5__grass1, .page5__grass2, .page5__grass4, .page5__grass5 , .page5__fire{
        bottom: 100px;
    }
    .page5__grass1{
        left: -100px;
    }
    .page5__grass5{
        right: -100px;
    }
    .page5__grass2{
        left: 20px;
    }
    .page5__weapon1{
        left: 45%;
        bottom: 240px;
        max-width: 70px;
    }
    .page5__weapon2{
        left: 52%;
        bottom: 240px;
        max-width: 70px;
    }
    .page5__shop{
        transform: scale(.6) translate(-80%, 0);
        bottom: 45px;
    }
}
@media(max-width: 1100px){
    .nav{
        height: 70px;
    }
    .nav__left{
        margin-left: 20px;
        transform: scale(.7) translate(-27px, -25px);
    }
    .nav__right{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transform: scale(.7) translate(0px, -25px);
    }
    .page1__top {
        margin-top: 60px;
    }
    .page1__titleText{
        font-size: 90px;
    }
    .page1__titleText--double{
        font-size: 90px;
    }
    .page1__bottom::before{
        top: -260px;
        left: -575px;
        transform: scale(.15);
    }
    .page1__bottom::after{
        transform: scale(.15);
        top: -260px;
        left: 80px;
    }
    .page2{
        height: 1130px;
    }
    .flex__container {
        max-width: 1120px;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .page2__text {
        transform: scale(.8);
    }
    .page2__tablo {
        right: -533px;
        top: -223px;
    }
    .arrow {
        top: 275px;
        left: -432px;
    }
    .page3{
        min-height: 850px;
    }
    .menu__button{
        transform: scale(.8);
    }
    .menu__title{
        height: 120px;
        max-width: 850px;
        font-size: 18px;
    }
    .button__gif {
        transform: scale(.5);
    }
    .menu__items{
        row-gap: 70px;
        column-gap: 30px;
        max-width: 850px;
    }
    .menu__item{
        font-size: 16px;
        max-width: 227px;
    }
    .page4 {
        min-height: 620px;
        height: 630px;
    }
    .page4__title{
        width: 430px;
        height: 130px;
    }
    .slider__item__image{
        transform: scale(.4);
    }
    .slider__container{
        max-width: 600px;
    }
    .slider__item__button {
        max-width: 185px;
        height: 60px;
        font-size: 10px;
        margin-top: -111px;
    }
    .itc-slider__btn{
        transform: scale(.8);
    }
    .page6 {
        min-height: 697px;
        height: 736px;
    }
    .page6__wrapper{
        min-height: 680px;
    }
    .page6__items {
        grid-template-columns: 300px 300px;
        grid-template-rows: 90px 90px 90px 90px;
        margin-left: 250px;
    }
    .page6__item {
        max-width: 295px;
        height: 90px;
        font-size: 12px;
    }
    .page6__shop {
        transform: scale(.5);
        left: -60px;
        bottom: 23px;
    }
    .page6__fire{
        bottom: 100px;
        right: 220px;
        transform: scale(.6);
    }
    .page6__grass{
        bottom: 100px;
        right: -100px;
        transform: scale(.6);
    }
    .page7{
        min-height: 830px;
    }
    .page7__item{
        max-width: 500px;
        font-size: 16px;
        height: 80px;
    }
    .page7__image{
        transform: scale(.5);
    }
    .page10{
        min-height: 700px;
    }
    .page10__wrapper{
        min-height: 700px;
    }
    .page10__car{
        left: -150px;
        transform: scale(.5);
        bottom: 53px;
    }
    .page10__bus{
        left: -150px;
        transform: scale(.5);
        bottom: -17px;
    }
    .page10__sit {
        bottom: 75px;
        left: 360px;
        transform: scale(.5);
    }
    .page10__grass1{
        transform: scale(.5);
        bottom: 98px;
        right: -110px;
    }
    .page10__grass2{
        transform: scale(.5);
        bottom: 98px;
        right: 15px;
    }
    .page10__vishka {
        bottom: -160px;
        transform: scale(.5);
        left: -100px;
    }
    .page10__contacts{
        transform: scale(.5);
        margin-top: -45px;

    }
    .page10__heart{
        top: -10px;
        transform: scale(.1);
        left: -25px;
    }
    .page10__sky {
        top: 190px;
        left: 330px;
        transform: scale(.6);
    }
    .page10__sky2{
        transform: scale(.6);
        top: 20px;
        right: -15px;
    }
}
@media(max-width: 900px){
    .nav__right{
        transform: scale(.7) translate(-200px, -25px);
    }
    .page1{
        min-height: 600px;
    }
    .page1__img {
        max-height: 300px;
    }
    .page1__titleText{
        font-size: 70px;
    }
    .page1__titleText--double{
        font-size: 70px;
    }
    .page1__bottom::before {
        top: -284px;
        left: -500px;
        transform: scale(.1);
    }
    .page1__bottom::after {
        transform: scale(.1);
        top: -284px;
        left: 0px;
    }
    .page5{
        padding-top: 50px;
    }
    .page6__wrapper, .page6{
        min-height: 800px;
    }
    .page6{
        height: 840px;
    }
    .page6__items{
        margin: 0 auto;
        max-width: none;
        justify-content: center;
    }
    .page7{
        min-height: 800px;
    }
    .page7__image{
        left: -300px;
    }
    .page7__items{
        margin-left: 270px;
    }
    .page7__item{
        font-size: 14px;
        height: 65px;
    }
    .page8__mem__img{
        max-width: 270px;
    }
    .page9{
        min-height: 900px;
    }
    .game{
        transform: scale(.8);
    }
    .page9__link img{
        transform: scale(.8);
    }
    .page10__contacts{
        margin-right: -170px;
        transform: scale(.4) translate(0px, -300px);
        margin: 0 auto;
    }
    .page10__heart{
        top: 55px;
    }
    
}
@media(max-width: 760px){
    .page2__tablo{
        transform: scale(.5);
    }
    .arrow{
        left: -375px;
    }
    .button__gif1 {
        transform: translate(50px, 0) scale(.5);
    }
    .button__gif2 {
        transform: translate(-50px, 0) scale(.5);
    }
    .page3{
        height: 940px;
        padding-top: 0;
    }
    .menu__button{
        transform: scale(.6);
    }
    .menu__items{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 150px;
        margin-top: 50px;
    }
    .menu__item{
        max-width: 300px;
    }
    .page4__title{
        font-size: 16px;
        width: 380px;
        height: 100px;
    }
    .slider__container{
        max-width: 500px;
    }
    .itc-slider{
        margin-top: -70px;
    }
    .slider__item__image{
        transform: scale(.3);
    }
    .slider__item__button{
        font-size: 8px;
        max-width: 150px;
        height: 45px;
    }
    .itc-slider__btn{
        transform: scale(.6);
    }
    .page5__title{
        font-size: 18px;
    }
    .page5__title--double{
        top: -18px;
    }
    .page5__subtitle img{
        max-width: 80px;
        top: 80px;
        transform: translate(0, -70px);
    }
    .page5__subtitle{
        font-size: 50px;
    }
    .page5__subtitle--double{
        top: -103px;
    }
    .page5__subtitle img{
        top: -60px;
    }
    .page5__grass2, .page5__grass4{
        display: none;
    }
    .page10__wrapper, .page10{
        min-height: 640px;
    }
    .page10__contacts{
        min-width: 900px;
        transform: scale(.4) translate(378px, -300px);
    }
    .page10__car, .page10__grass1, .page10__grass2, .page10__bus, .page10__sit, .page10__vishka{
        transform: scale(.4);
    }
    .page10__car{
        bottom: 39px;
    }
    .page10__bus{
        bottom: -44px;
    }
    .page10__sit{
        bottom: 67px;
    }
    .page10__grass1{
        bottom: 92px;
        right: -120px;
    }
    .page10__grass2{
        bottom: 92px;
        right: -30px;
    }
    .page10__vishka{
        bottom: -200px;
    }
}
@media(max-width: 660px){
    .nav__container{
        flex-direction: column-reverse;
    }
    .nav {
        height: 110px;
    }
    .nav__left{
        margin: 0 auto;
        transform: scale(.7) translate(80px, 50px);
    }
    .nav__right {
        transform: scale(.7) translate(60px, 280px);
        margin: 0 auto;
    }
    .page1__top {
        margin-top: 100px;
    }
    .page1__bottom::before, .page1__bottom::after{
        display: none;
    }
    .page3{
        height: 750px;
        min-height: 600px;
    }
    .button__gif1 {
        transform: translate(50px, 0) scale(.3);
    }
    .button__gif2 {
        transform: translate(-50px, 0) scale(.3);
    }
    .menu__title {
        height: 110px;
        font-size: 16px;
    }
    .menu__item{
        font-size: 14px;
        max-width: 260px;
        height: 100px;
    }
    .menu__items{
        grid-template-rows: 100px 100px 100px;
        row-gap: 50px;
    }
    .page4 {
        min-height: 443px;
        height: 500px;
    }
    .itc-slider__btn_next{
        right: 0;
    }
    .itc-slider__btn_prev{
        left: 0;
    }
    .page6__items{
        grid-template-columns: 220px 220px;
    }
    .page6__item{
        max-width: 220px;
    }
    .page7__image{
        left: -130px;
        top: 50px;
        transform: scale(.6);
    }
    .page7__items{
        margin: 350px auto 0;
        align-items: center;
    }
    .page8__mem__img{
        max-width: 220px;
    }
    .page9__img img{
        max-width: 150px;
    }
    .form{
        max-width: 400px;
    }
}
@media(max-width: 600px){
    .page2{
        height: 1000px;
    }
    .page2__text{
        transform: scale(.7);
    }
    .page2__tablo{
        top: -300px;
    }
    .page2__arrows{
        transform: scale(.6);
    }
    .arrow{
        left: -480px;
        top: 260px;
    }
    .menu__title{
        max-width: 400px;
        font-size: 12px;
    }
    .page7__image{
        left: -160px;
        transform: scale(.4);
    }
    .page10__contacts {
        min-width: 700px;
        transform: scale(.4) translate(300px, -300px);
    }
    .button__gif1 {
        transform: translate(92px, 0) scale(.3);
    }
    .button__gif2 {
        transform: translate(-92px, 0) scale(.3);
    }
    .menu__item{
        font-size: 12px;
    }
    .page4 {
        min-height: 243px;
        height: 350px;
    }
    .slider__container{
        max-width: 400px;
    }
    .slider__item__image {
        transform: scale(.25);
    }
    .slider__item__button {
        font-size: 6px;
        max-width: 115px;
        height: 30px;
        margin-top: -150px;
    }
    .slider__item{
        margin: 30px 0;
    }
    .itc-slider__btn{
        top: calc(50% - 50px);
        transform: scale(.5);
    }
    .page4__title {
        font-size: 14px;
        width: 300px;
        height: 60px;
    }
    .page5__subtitle{
        max-width: 400px;
        font-size: 30px;
    }
    .page5__subtitle--double{
        top: -62px;
    }
    .page5__subtitle img{
        transform: translate(0, -35px) scale(.6);
    }
    .page5__wrapper, .page5{
        min-height: 900px;
    }
    .page5__shop {
        transform: scale(.5) translate(-100%, 0);
        bottom: 26px;
    }
    .page5__grass1, .page5__grass5{
        transform: scale(.4);
        bottom: 93px;
    }
    .page5__weapon1, .page5__weapon2{
        max-width: 50px;
        bottom: 220px;
    }
    .page6{
        height: 800px;
    }
    .page7__image{
        top: -30px;
    }
    .page7__items{
        margin-top: 250px;
    }
    .page8__mem__img {
        max-width: 190px;
    }
    .page9{
        min-height: 680px;
        padding-top: 0;
    }
    .game {
        transform: scale(.6);
        margin-bottom: -90px;
        margin-top: -100px;
        width: 800px;
    }
    .page10__car, .page10__bus{
        left: -200px;
    }
    .page10__vishka{
        left: -150px;
    }
    .page10__sit{
        left: 210px;
    }
    .page10__sky{
        left: 175px;
    }
}
@media(max-width: 500px){
    .page1 {
        min-height: 327px;
        height: 550px;
    }
    .nav__left {
        transform: scale(.7) translate(0px, 50px);
    }
    .page1__img {
        max-height: 160px;
    }
    .page1__logoText{
        margin-top: 0;
        font-size: 16px;
    }
    .page1__titleText{
        font-size: 56px;
    }
    .page1__titleText--double{
        font-size: 56px;
    }
    .page2 {
        height: 860px;
    }
    .page2__text {
        transform: scale(.6) translate(-20px, 0);
    }
    .page2__tablo {
        top: -400px;
        right: -530px;
        transform: scale(.35);
    }
    .page2__arrows {
        transform: scale(.45);
    }
    .arrow{
        top: 135px;
    }
    .page3{
        height: 1100px;
    }
    .menu__items{
        grid-template-columns: 300px;
        grid-template-rows: repeat(6, 100px);
        justify-content: center;
        row-gap: 30px;
    }
    .menu__item{
        max-width: 300px;
        width: 100%;
    }
    .itc-slider__btn {
        top: calc(50% - -68px);
    }
    .itc-slider__btn_prev{
        transform: translate(-50%, 0) scale(.5);
        left: 40%;
    }
    .itc-slider__btn_next{
        transform: translate(50%, 0) scale(.5);
        right: 40%;
    }
    .page5__title{
        font-size: 16px;
    }
    .page5__title--double {
        top: -17px;
        left: -1px;
    }
    .page5__subtitle{
        max-width: 300px;
    }
    .page5__weapon1{
        left: 38%;
    }
    .page5__weapon2{
        left: 56%;
    }
    .page5__star1, .page5__star2{
        top: 70px;
        max-width: 25px;
    }
    .page5__wrapper, .page5{
        min-height: 770px;
    }
    .page5__box1{
        bottom: 540px;
    }
    .page5__box3{
        bottom: 450px;
    }
    .page5__box2{
        bottom: 400px;
    }
    .page5__box4{
        bottom: 360px;
    }
    .page5__grass1, .page5__grass5 {
        transform: scale(.3);
        bottom: 87px;
    }
    .page5__grass1{
        left: -150px;
    }
    .page5__grass5{
        right: -140px;
    }
    .page5__fire {
        left: 80%;
    }
    .page6{
        padding-top: 30px;
    }
    .page6__items{
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(4, 80px);
    }
    .page6__item{
        line-height: 1.5;
        height: 80px;
    }
    .page6__fire{
        right: 140px;
    }
    .page7__image{
        left: -240px;
    }
    .page7__items{
        max-width: 300px;
    }
    .page7__item{
        margin-bottom: 25px;
        font-size: 12px;
        height: 60px;
    }
    .page8{
        min-height: 670px;
    }
    .page8__title{
        margin-bottom: 40px;
    }
    .page8__mem{
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .page8__mem__img{
        max-width: 150px;
    }
    .page8__mem__last{
        margin-right: 0;
    }
    .page8__memes__wrapper{
        margin-bottom: 0;
    }
    .page9{
        min-height: 540px;
    }
    .game{
        width: 600px;
    }
    .page10__sit, .page10__grass1, .page10__grass2{
        display: none;
    }
    .page10__contacts {
        transform: scale(.4) translate(415px, -300px);
    }
    .page10__heart{
        left: -160px;
    }
}
@media(max-width: 400px){
    .nav__left {
        transform: scale(.7) translate(-40px, 50px);
    }
    .page3{
        height: 900px;
    }
    .menu__title{
        max-width: 300px;
        height: 90px;
        font-size: 10px;
    }
    .button__gif1{
        transform: scale(.2) translate(550px, 0);
    }
    .button__gif2{
        transform: scale(.2) translate(-550px, 0);
    }
    .menu__items{
        grid-template-rows: repeat(6, 70px);
    }
    .menu__item{
        max-width: 250px;
        height: 70px;
    }
    .slider__container{
        max-width: 250px;
    }
    .itc-slider__item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .page5__wrapper, .page5{
        min-height: 770px;
    }
    .page5__star1, .page5__star2{
        top: 70px;
        max-width: 25px;
    }
    .page5__box1{
        bottom: 540px;
    }
    .page5__box3{
        bottom: 450px;
    }
    .page5__box2{
        bottom: 400px;
    }
    .page5__box4{
        bottom: 360px;
    }
    .page5__grass1, .page5__grass5 {
        transform: scale(.3);
        bottom: 87px;
    }
    .page5__grass1{
        left: -150px;
    }
    .page5__grass5{
        right: -140px;
    }
    .page5__fire {
        left: 80%;
    }
    .page6__grass{
        display: none;
    }
    .page6__fire{
        right: 40px;
    }
    .page7__image{
        transform: scale(.3);
        left: -280px;
    }
    .game{
        width: 500px;
    }
    .page9{
        min-height: 670px;
    }
    .page9__title{
        width: 325px;
    }
    .form{
        max-width: 300px;
        padding: 30px 15px;
        z-index: 1000;
        top: 50%;
        gap: 20px;
    }
    .form__title__text{
        font-size: 16px;
    }
    .form__input{
        font-size: 12px;
        min-height: 30px;
    }
    .form__button{
        padding: 10px 20px;
    }
}